<div class="top">
<div class="mozi">
<h1>welcome to <span class="glyphicon glyphicon-book"></span>Bookers  !!</h1>
<p>In <span class="glyphicon glyphicon-book"></span>Bookers,</p>
<p>you can share and exchange your opinions,inpressions,and emotions</p>
<p>about various books!</p>
</div>
<div class="login_logout">
<%= link_to 'Log in', new_user_session_path, class: "btn btn-default login" %><br>
<%= link_to 'Sign up',new_user_registration_path, class: "btn btn-default logout" %>
</div>
</div>